<?xml version="1.0" encoding="UTF-8"?>
<robot name="bed" xmlns:xacro="http://ros.org/wiki/xacro">

<!--macro name="bed" params="*origin"-->



<xacro:macro name="bed_base" params="prefix">

    <!-- links -->

    <link name="${prefix}_bed_base">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://minilift_description/meshes/visual/bed.stl"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://minilift_description/meshes/collision/bed.stl"/>
        </geometry>
      </collision>
    <inertial>
      <origin xyz=".4 1 0" rpy="0 0 0"/>
      <mass value="30"/>
      <inertia ixx="0.2" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
    </inertial>
    </link>

</xacro:macro>

</robot>
